import sys

sys.path.append("..")
from tcg.base_page import page
import pytest
import allure
import time

@allure.feature("{{module_name}}")
class {{test_class_name}}:
    @classmethod
    def setup_class(cls):
        cls.page = page

    # @classmethod
    #def teardown_class(cls):
    #    cls.driver.quit()

    {% for function in functions %}
    {{function|indent}}

    {% endfor %}