@allure.story("{{testcase_name}}")
@pytest.mark.dependency(name="{{dependency}}")
@pytest.mark.parametrize("{{params}}", {{params_values}})
def {{test_function_name}}(self, {{params}}):
    """
    {{testcase_name}}
    """
{% for op in ops %}
    {% if op.xpath %}
    {{target_dict[op.target]["element_name"]}} = self.page.element("""{{op.xpath}}""", name="{{op.target}}")
    {% endif %}

    {%- if op.op_type == "点击" %}
    self.page.click_element({{target_dict[op.target]["element_name"]}}, name="{{op.target}}")
    {%- elif op.op_type == "输入"%}
    self.page.send_keys({{target_dict[op.target]["element_name"]}}, {{target_dict[op.target]["variable_name"]}}, name="{{op.target}}")

    {%- elif op.op_type == "打开网页" %}
    self.page.open_url("{{op.target}}")
    {%- elif op.op_type == "人工" %}
    time.sleep({%- if op.target -%}{{op.target}}{%- else -%}10{%- endif -%})
    {%- else -%}
    {%- endif -%}

    {% if op.expect_xpath %}
    {{target_dict[op.expect_target]["element_name"]}} = self.page.element("""{{op.expect_xpath}}""", name="{{op.expect_target}}")
    {% endif %}
    {% if op.expect_type == "存在" -%}
    assert {{target_dict[op.expect_target]["element_name"]}}
    {% elif op.expect_type == "等于" -%}
    assert {{target_dict[op.expect_target]["element_name"]}}.text.strip() == "{{op.expect_value}}"
    {% elif op.expect_type == "包含" -%}

    {%- else -%}
    {%- endif -%}


{% endfor %}